---
import Header from '../components/Header.astro';
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import HeroSlider from "../components/HeroSlider.astro";
import HomeNews from '../components/HomeNews.astro';
import News from "../components/News.astro";
import Contact from "../components/sections/ContactSection.astro";

import styles from "../styles/theme.module.css";
console.log("ceporan-website active"); //utk cek laman bisa jalan

const currentYear = new Date();
const title = "Home";

import { client } from '../lib/sanity'; // Import client

// TES KONEKSI SEDERHANA
const testData = await client.fetch(`count(*[_type == "news"])`);
console.log("========================================");
console.log("TES KONEKSI SANITY DARI HALAMAN DEPAN:");
console.log("Jumlah Berita ditemukan:", testData);
console.log("========================================");

// ... sisa kode Anda ...
---		
		<Layout title = {title} align:center>
			<Header />
			
			<HeroSlider />
			<Link link="/about" cssClass="link" content="Perg Ke About "/>
			<main class={styles.container}>
				<h1>{title}</h1>
			</main>
			<HomeNews />
			<Contact />
			<footer class={styles.footer}>
      			<div class={styles.footerGrid}>
        			<div>
          				<h3 class={styles.footerTitle}>Tentang Kami</h3>
          				<p>Website resmi pemerintah Desa Ceporan, Klaten.</p>
        			</div>
        			<div>
          				<h3 class={styles.footerTitle}>Tautan</h3>
          				<a href="/profile" class={styles.footerLink}>Profil Desa</a>
						<a href="/news" class={styles.footerLink}>Berita</a>
          				<a href="/contact" class={styles.footerLink}>Kontak</a>
        			</div>
      			</div>
      			<div class={styles.copyright}>
        			&copy; {currentYear} Desa Ceporan
      			</div>
				
    		</footer>

		</Layout>
